In [2]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
numbers_array = np.array([1, 2, 3, 4, 5])
print("NumPy array:", numbers_array)

NumPy array: [1 2 3 4 5]

In [6]:
print("Sum of array elements:", np.sum(numbers_array))
print("Average of array elements:", np.mean(numbers_array))

Sum of array elements: 15
Average of array elements: 3.0

In [7]:
import matplotlib.pyplot as plt 
import seaborn as sns

In [8]:
file_path = 'movie_ratings.csv'
df_movies = pd.read_csv(file_path)

In [9]:
df_movies.head()

,user_id,movie_title,genre,rating,watch_duration_minutes,day_of_week,watch_time_hour
0,101,The Haunting of Hill House,Horror,8,75,Friday,23
1,102,Space Odyssey,Sci-Fi,9,140,Saturday,20
2,101,Comedy Central Special,Comedy,7,45,Friday,22
3,103,Ancient Aliens,Documentary,6,90,Tuesday,19
4,101,The Exorcist,Horror,9,120,Friday,0

In [10]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 8 non-null      int64
 1   movie_title             8 non-null      object
 2   genre                   8 non-null      object
 3   rating                  8 non-null      int64
 4   watch_duration_minutes  8 non-null      int64
 5   day_of_week             8 non-null      object
 6   watch_time_hour         8 non-null      int64
dtypes: int64(4), object(3)
memory usage: 580.0+ bytes

In [11]:
df_movies.shape

(8, 7)

In [15]:
friday_binges = df_movies[(df_movies['day_of_week'] == 'Friday') &
                          (df_movies['watch_duration_minutes'] > 60)]

print("Friday Binge Sessions:")
print(friday_binges)

Friday Binge Sessions:
   user_id                 movie_title   genre  rating  \
0      101  The Haunting of Hill House  Horror       8
4      101                The Exorcist  Horror       9
7      101              Spooky Mansion  Horror       7

   watch_duration_minutes day_of_week  watch_time_hour
0                      75      Friday               23
4                     120      Friday                0
7                      80      Friday                1

In [16]:
# Count how many times each genre appears in our filtered data
genre_counts = friday_binges['genre'].value_counts()
print("\nGenre Counts for Friday Binge Sessions:")
print(genre_counts)

Genre Counts for Friday Binge Sessions:
genre
Horror    3
Name: count, dtype: int64