In [1]:
import pandas as pd

large_log = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'West', 'South', 'North',
               'East', 'South', 'West', 'North', 'East', 'East'],
    'Product': ['Gears', 'Ropes', 'Gears', 'Pulleys', 'Ropes', 'Gears',
                'Compass', 'Ropes', 'Gears', 'Pulleys', 'Compass', 'Compass'],
    'Sales': [150, 200, 180, 100, 220, 160, 250, 190, 140, 170, 260, 240]
})

In [2]:
print("--- Our Large Expedition Log ---")
print(large_log)
print("-" * 60)

--- Our Large Expedition Log ---
   Region  Product  Sales
0   North    Gears    150
1   South    Ropes    200
2   North    Gears    180
3    West  Pulleys    100
4   South    Ropes    220
5   North    Gears    160
6    East  Compass    250
7   South    Ropes    190
8    West    Gears    140
9   North  Pulleys    170
10   East  Compass    260
11   East  Compass    240
------------------------------------------------------------

In [3]:
total_sales_by_region = large_log.groupby('Region')['Sales'].sum()
print("WOW! Total Sales for Each Region:")
print(total_sales_by_region)
print("-" * 60)

WOW! Total Sales for Each Region:
Region
East     750
North    660
South    610
West     240
Name: Sales, dtype: int64
------------------------------------------------------------

In [4]:
average_sales_by_product = large_log.groupby('Product')['Sales'].mean()
print("WOW! Average Sales for Each Product:")
print(average_sales_by_product)
print("-" * 60)

WOW! Average Sales for Each Product:
Product
Compass    250.000000
Gears      157.500000
Pulleys    135.000000
Ropes      203.333333
Name: Sales, dtype: float64
------------------------------------------------------------